<goa-service-level-header level="alpha" version="UAT"></goa-service-level-header>

<div class="container" [class.isPrinting]="printService.isPrinting">

  <goa-form-item name="commentsFormItem" label="Comments" helptext="(Internal: Not sent to clients)"
   optional="false" error="Error message" spellcheck="true">
  <goa-textarea name="comments" rows="8"  spellcheck="true">
  </goa-textarea>


  <button (click)="onPrintInvoice()">PRINT INVOICE</button>

  <router-outlet></router-outlet>
  <router-outlet name="print"></router-outlet>

</goa-form-item>

</div>